<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kong.board.mappers.hotplace">
	<!-- 핫플레이스 전체 조회 -->
	<select id="hotPlaceList" resultType="kong.my.domain.HotPlaceVO">
		<!-- select
	 		h_code,
	 		s_code,
	 		t_code,
	 		shop_name,
	 		image,
	 		loc,
	 		hours,
	 		menu_price,
	 		comments,
	 		h_order
	 	from hotplace
	 	order by h_order asc -->
	 	SELECT h.h_code, 
	 		   h.s_code, 
	 		   h.t_code,
	 		   h.shop_name, 
	 		   h.image, 
	 		   h.loc, 
	 		   h.hours, 
	 		   h.menu_price, 
	 		   h.comments, 
	 		   h.h_order, 
	 		   s.s_name , 
	 		   t.t_name
		FROM hotplace h, seoul s, thema t
		WHERE h.s_code = s.s_code
		AND h.t_code = t.t_code
	</select>
	<!-- 핫플레이스 지역, 테마로 검색하여 조회 -->
	<select id="hotPlaceSearchList" resultType="kong.my.domain.HotPlaceVO">
		select
	 		h_code,
	 		s_code,
	 		t_code,
	 		shop_name,
	 		image,
	 		loc,
	 		hours,
	 		menu_price,
	 		comments,
	 		h_order
	 	from hotplace
	 	where s_code = #{s_code}
	 	and t_code = #{t_code}
	 	order by h_order asc
	</select>
	<!-- 핫플레이스 등록 -->
	<insert id="addHotplace" >
		insert into hotplace(h_code, s_code, t_code, shop_name, image, loc, hours, menu_price, comments, h_order)
		values (NEXTVAL('hot_idx'), #{s_code}, #{t_code}, #{shop_name}, #{image}, #{loc},#{hours},#{menu_price},#{comments},#{h_order})
	</insert>
	<!-- 핫플레이스 상세정보 -->
	<select id="HotplaceDetail"  resultType="kong.my.domain.HotPlaceVO">
	<!-- 	select
	 		h_code,
	 		s_code,
	 		t_code,
	 		shop_name,
	 		image,
	 		loc,
	 		hours,
	 		menu_price,
	 		comments,
	 		h_order
	 	from hotplace
		where h_code = #{h_code} -->
		SELECT h.h_code, 
	 		   h.s_code, 
	 		   h.t_code,
	 		   h.shop_name, 
	 		   h.image, 
	 		   h.loc, 
	 		   h.hours, 
	 		   h.menu_price, 
	 		   h.comments, 
	 		   h.h_order, 
	 		   s.s_name , 
	 		   t.t_name
		FROM hotplace h, seoul s, thema t
		WHERE h.s_code = s.s_code
		AND h.t_code = t.t_code
		and h.h_code = #{h_code}
		order by h_order asc
	</select>
	<!-- 핫플레이스 수정 -->
	<update id="updateHotplace">
		update hotplace
		set s_code = #{s_code},
			t_code = #{t_code},
			shop_name = #{shop_name},
			image = #{image},
			loc = #{loc},
			hours = #{hours},
			menu_price = #{menu_price},
			comments = #{comments},
			h_order = #{h_order}
		where h_code = #{h_code}
	</update>
	<!-- 핫플레이스 삭제 -->
	<delete id="hotplaceDelete">
        delete from hotplace
        where h_code=#{h_code}
    </delete>
    <!-- 지역명, 테마명, 상호명으로 검색 -->
    <select id="adminHotPlaceSearch" resultType="kong.my.domain.HotPlaceVO">
		SELECT h.h_code, 
	 		   h.s_code, 
	 		   h.t_code,
	 		   h.shop_name, 
	 		   h.image, 
	 		   h.loc, 
	 		   h.hours, 
	 		   h.menu_price, 
	 		   h.comments, 
	 		   h.h_order, 
	 		   s.s_name, 
	 		   t.t_name
		FROM hotplace h, seoul s, thema t
		WHERE h.s_code = s.s_code
		AND h.t_code = t.t_code
		<if test='s_sname!="전체"'>
		AND s.s_name = #{s_name}
		</if>
		<if test='t_name!="전체"'>
	 	AND t.t_name = #{t_name}
	 	</if>
	 	<if test="shop_name != ''">
	 	AND h.shop_name like #{shop_name}||'%'
	 	</if>
		<if test='s_sname== "전체"'></if>
		<if test='t_name == "전체"'></if>
		<if test="shop_name == ''"></if>
	 	order by h.h_order asc
  	</select>
</mapper>