<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kong.board.mappers.seoul">
	<!-- 서울시 전국구 조회 (핫플레이스 페이지에서 사용) -->
	<select id="seoulList" resultType="kong.my.domain.SeoulVO">
		select
	 		s_code,
	 		s_name,
	 		s_order
	 	from seoul
	 	ORDER BY s_order asc
	</select>
	<!-- 서울시  구 등록 -->
	<insert id="addZone" >
		insert into seoul(s_code, s_name, s_order)
		values (#{s_code}, #{s_name}, #{s_order})
	</insert>
	<!-- 상세 정보 -->
	<select id="seoulDetail"  resultType="kong.my.domain.SeoulVO">
		select s_code, s_name, s_order
		from seoul
		where s_code = #{s_code}
	</select>
	<!-- 서울시 구 수정 -->
	<update id="updateZone">
		update seoul
		set s_name = #{s_name},
			s_order = #{s_order}
		where s_code = #{s_code}
	</update>

	
	<!-- 삭제 -->
    <delete id="seoulDelete">
        delete from seoul
        where s_code=#{s_code}
    </delete>
    
    <!-- 검색 -->
    <select id="seoulSearchList" parameterType="String" resultType="kong.my.domain.SeoulVO">
    	select
	 		s_code,
	 		s_name,
	 		s_order
	 	from seoul
		where s_name like #{value}||'%'
	 	ORDER BY s_order asc
    </select>
</mapper>